body {
	background-color: lightpink;
}

h1 {
	 background-color: #f3f3f3;
	 margin: auto; 
	 text-align: center;
	 font-size:50px;	 
}

#classitem {
	text-align: center;
}

nav ul a:hover {
			color: #FFA233

}

#theImage {
	background: green;
	text-align: center;
}

.ImageNet {
	text-align: center;
}

.box {
	float: left;
	margin-right: 15px;
	width: 150px;
	height: 100px;
	border-radius: 5px;
	padding: 1em;
}