body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    /* font-family: 'Nixie One', cursive; */
    /* text-align: center; */
}

.text1 {
    position: relative;
    margin: 10vw;
    margin-bottom: 5vw;
}

p {
    font-size: 32px;
    /* line-height: 10px; */
    font-family: 'Nixie One', cursive;
    font-weight: 900;
    margin: 0;
    color: #FFCA16;
}

button {
    background-color: #FFCA16;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    font-family: inherit;
    font-size: large;
    /* float: right; */
    margin-left: 10vw;
}